@{
    ViewData["Title"] = "Our Event Gallery";
}
<h1>@ViewData["Title"]</h1>

<div class="gallery">
    <div class="gallery-pics">
        <img src= "~/Images/Wedding.png" alt="Wedding Picture"/>
        <p>Wedding Setup</p>
    </div>
    <div class="gallery-pics">
        <img src="~/Images/BeachParty.png" alt="Beach picture" />
        <p>Beach Birthday Party</p>
    </div>
    <div class="gallery-pics">
        <img src="~/Images/CorporateEvent.png" alt="Conference Picture" />
        <p>Corporate Conference</p>
    </div>
     <div class="gallery-pics">
        <img src="~/Images/BabyShower.png" alt="Baby Shower Picture" />
        <p>Baby Shower</p>
    </div>
    <div class="gallery-pics">
        <img src="~/Images/Workshop.png" alt="Workshop Picture" />
        <p>Workshop</p>
    </div>
    <div class="gallery-pics">
        <img src="~/Images/Reunion.png" alt="Reunion Picture" />
        <p>Family Reunion</p>
    </div>


</div>