@{
    ViewData["Title"] = "Home Page";
}

<div class="bodyText">
    <div class="overlay">
    <div class="overlayText-top">
       <h1>EventEase</h1>
       <h2>~Bringing Your Dream Event To Life </h2>
       </div>

        <div class="overlayText-bottom">       
            <p>
                CONTACT US ON:<br />
                Instagram: EventEaseZA <br />
                Facebook: EventEaseZA <br />
                TikTok:EventEaseZA <br />
                Call: +27 654 345 123
            </p>
        </div>




    </div>
</div>
