@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">

    <h1>EventEase</h1>
    <h2>New era of booking</h2>
    <p>Discover, book, and manage your events with ease.</p>
</section>


<section class="features">
    <table>
    <div class="feature-item">🔍<p>Easy Venue Search</p></div>
    <div class="feature-item">⏱<p>Real-Time Availability</p></div>
    <div class="feature-item">🔒<p>Secure Bookings</p></div>
    <div class="feature-item">🎧<p>24/7 Support</p></div>
    </table>
</section>


<section class="about">
    <h1>About EventEase</h1>
    <p>
        We are an event management company that aims to 
        coordinate a variety of events across different venues.
        ~ EventEase simplifies the process of finding and booking venues ~
        Our platform offers a seamless experience for event planners, making it
        easy to search for spaces, check availability, and secure bookings all in one place.
    </p>
    <blockquote>
        “EventEase made finding the right venue a breeze. Highly recommended!”<br />
        <span>- Sally A.</span>
    </blockquote>
</section>


<footer class="cta-footer">
    <p>Ready to find your perfect venue? <span>Get started now!</span></p>
    <div class="cta-buttons">
        <button class="btn primary">Contact Us</button>
    </div>
</footer>
